dl.parameters {
    margin-top: -0.5em;
    font-size: 16px;

    dt {
        color: #cf000f;
        font-family: monospace;
    }
}

span.type {
    color: #1E824C;
    font-family: monospace;
    a:link {
        color: #1E824C;
    }
}
