$break-small: 768px; 
$break-large: 992px; 

$column-width: 130px;
$gutter-width: 30px;

$font-stack: 'Open Sans', sans-serif;

$width-small: ($column-width * 4 + $gutter-width * 3);
$width-large: ($column-width * 6 + $gutter-width * 5);

$margin-big: $gutter-width * 5;
$margin-medium: $gutter-width * 3;
$margin-small: $gutter-width;

$color-primary: #444;
$color-link: #006892;
$color-linkvisited: darken($color-link, 10%);

@mixin transition($property, $time, $function) {
    -moz-transition: $property $time $function;
    -webkit-transition: $property $time $function;
    -o-transition: opacity $property $time $function;
    transition: opacity $property $time $function;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

body {
    font: 18px/1.5 $font-stack;
    background-color: #fff;
    color: $color-primary;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

footer, section {
    clear: both;
    margin: 0 auto;
    padding: ($gutter-width / 2);
    margin: ($gutter-width / 2 ) auto;
    @media screen and (min-width: $break-small) and (max-width: $break-large) {
        width: $width-small;
    }

    @media screen and (min-width: $break-large) {
        width: $width-large;
    }
}

header {
    color: #fff;
    background-color: $color-link;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;

    div.hero {
        padding: $gutter-width;
        margin: 0 auto;

        @media screen and (min-width: $break-small) and (max-width: $break-large) {
            width: $width-small;
        }

        @media screen and (min-width: $break-large) {
            width: $width-large;
        }
    }

    h1 {
        margin: 0;
        font-size: 40px;
    }

    p {
        margin: 0;
        font-size: 25px;
        line-height: 1.4;
    }

    &.main {
        background: url(../img/newyork.jpg) no-repeat 50% 100%;
        text-align: center;
        padding-top: $margin-small;
        padding-bottom: $margin-small;

        div.hero {
            display: inline-block;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }

    
    @media screen and (min-width: $break-small) {
        &.main {
            padding-top: $margin-big;
            padding-bottom: $margin-big;
        }

        h1 {
            font-size: 50px;
        }

        p {
            font-size: 30px;    
        }
    }
}

h2,
section#blog > article:first-of-type > h3 {
    font-weight: 500;
    font-size: 1.3em;
    
    span {
        text-transform: uppercase;
        display: block;
        font-size: 0.5em;
        color: lighten($color-primary, 30%);
    }
}

a {
    @include transition(color, 0.3s, ease);
    color: $color-link;

    &:visited {
        color: $color-linkvisited;
    }

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
}

.btn {
    text-align: center;
    border: 0;
    color: #fff;
    font-size: 0.8em;
    text-decoration: none;
    padding: 10px 15px;
    background-color: $color-link;
    @include border-radius(5px);
    @include transition(background-color, 0.3s, ease);

    &:visited {
        color: #fff;
    }

    &:hover,
    &:focus {
        background-color: $color-linkvisited;
    }
}

section {
    margin: ($gutter-width / 2 ) auto;
    @media screen and (min-width: $break-small) and (max-width: $break-large) {
        width: $width-small;
    }

    @media screen and (min-width: $break-large) {
        width: $width-large;
    }

    &#developers {
        h2, p {
            @media screen and (min-width: $break-small) and (max-width: $break-large) {
                width: ($column-width * 2) + ($gutter-width * 1);
                margin-left: ($column-width * 2) + ($gutter-width * 2);
            }

            @media screen and (min-width: $break-large) {
                width: ($column-width * 3) + ($gutter-width * 2);
                margin-left: ($column-width * 3) + ($gutter-width * 3);
            }
        }
    }

    &#communities {
        h2, p {
            @media screen and (min-width: $break-small) and (max-width: $break-large) {
                width: ($column-width * 2) + ($gutter-width * 1);
            }

            @media screen and (min-width: $break-large) {
                width: ($column-width * 3) + ($gutter-width * 2);
            }
        }
    }

    &#blog {
        border-top: 1px solid lighten($color-primary, 50%);

        ul {
            float: left;
            list-style: none;
            padding: 0;
            margin: 0 0 $gutter-width 0;

            @media screen and (min-width: $break-large) {
                width: ($column-width * 2) + ($gutter-width * 1);
                margin-left: $gutter-width;
            }

            li {
                padding: 0;
                margin: 0;
                line-height: 1.5;
            }

            li:last-child {
                margin-top: 1em;
            }
        }

        article:first-of-type {
            float: left;
            @media screen and (min-width: $break-large) {
                width: ($column-width * 4) + ($gutter-width * 3);
            }

            h3 {
                margin-top: 0;
            }
        }

        h2 {
            margin-bottom: 0;
        }
    }

    &#about {
        border-top: 1px solid lighten($color-primary, 50%);

        div#platform {
            float: left;
            @media screen and (min-width: $break-small) and (max-width: $break-large) {
                width: ($column-width * 2) + ($gutter-width * 1);
            }

            @media screen and (min-width: $break-large) {
                width: ($column-width * 4) + ($gutter-width * 3);
            }
        }

        div#devs {
            float: left;
            @media screen and (min-width: $break-small) {
                margin-left: $gutter-width;
                width: ($column-width * 2) + ($gutter-width * 1);
            }
        }
    }
}

footer {
    border-top: 1px solid lighten($color-primary, 50%);
    color: lighten($color-primary, 20%);
    margin-top: $margin-big;
    font-size: 0.8em;
}