$break-small: 768px; 
$break-large: 992px; 

$column-width: 130px;
$gutter-width: 30px;

$font-stack: 'Open Sans', sans-serif;

$width-small: ($column-width * 4 + $gutter-width * 4);
$width-large: ($column-width * 6 + $gutter-width * 6);

$margin-big: $gutter-width * 5;
$margin-medium: $gutter-width * 3;
$margin-small: $gutter-width;

$color-primary: #444;
$color-link: #006892;
$color-linkvisited: darken($color-link, 10%);

@mixin clear-float() {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin transition($property, $time, $function) {
    -moz-transition: $property $time $function;
    -webkit-transition: $property $time $function;
    -o-transition: opacity $property $time $function;
    transition: opacity $property $time $function;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

body {
    font: 18px/1.5 $font-stack;
    background-color: #fff;
    color: $color-primary;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

section {
    @include clear-float();
    &:nth-child(odd) {
        background-color: lighten($color-primary, 70%);
    }
    padding: ($gutter-width) 0;
}

.row {
    @include clear-float();
    // clear: both;
    margin: 0 auto;
    padding: ($gutter-width) ($gutter-width / 2);

    @media screen and (min-width: $break-small) and (max-width: $break-large) {
        width: $width-small;
    }

    @media screen and (min-width: $break-large) {
        width: $width-large;
    }

    .item {
        margin-left: $gutter-width;
    }

    .item:first-child {
        margin-left: $gutter-width / 2;
    }
}

header {
    color: #fff;
    background-color: $color-link;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;

    nav {
        @media screen and (min-width: $break-small) and (max-width: $break-large) {
            width: $width-small;
        }

        @media screen and (min-width: $break-large) {
            width: $width-large;
        }

        font-family: $font-stack;
        font-size: 14px;
        line-height: 1;
        padding: ($gutter-width) 0 0 0;
        text-transform: none;
        letter-spacing: 0;
        margin: 0 auto;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            text-align: right;

            li {
                display: inline-block;
            }

            a:link,
            a:visited {
                color: #fff;
                text-decoration: none;
                padding: ($gutter-width/4);
                @include border-radius(3px);
            }

            a:hover,
            a:focus,
            a:active {
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
    }

    div.hero {
        padding: $gutter-width;
        margin: 0 auto;

        @media screen and (min-width: $break-small) and (max-width: $break-large) {
            width: $width-small;
        }

        @media screen and (min-width: $break-large) {
            width: $width-large;
        }
    }

    h1 {
        margin: 0;
        font-size: 40px;
    }

    p {
        margin: 0;
        font-size: 25px;
        line-height: 1.4;
    }

    &.main {
        background: url(../img/newyork.jpg) no-repeat 50% 100%;
        text-align: center;
        padding-top: $margin-small;
        padding-bottom: $margin-small;

        div.hero {
            display: inline-block;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }

    
    @media screen and (min-width: $break-small) {
        &.main {
            padding-top: $margin-big;
            padding-bottom: $margin-big;
        }

        h1 {
            font-size: 50px;
        }

        p {
            font-size: 30px;    
        }
    }
}

h2 {
    font-weight: 500;
    font-size: 1.3em;
    
    span {
        text-transform: uppercase;
        display: block;
        font-size: 0.5em;
        color: lighten($color-primary, 30%);
    }
}

a {
    @include transition(color, 0.3s, ease);
    color: $color-link;

    &:visited {
        color: $color-linkvisited;
    }

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }

    &.no-underline {
        text-decoration: none;
    }
}

.btn {
    text-align: center;
    border: 0;
    color: #fff;
    font-size: 0.8em;
    text-decoration: none;
    padding: 10px 15px;
    background-color: $color-link;
    @include border-radius(5px);
    @include transition(background-color, 0.3s, ease);

    &:visited {
        color: #fff;
    }

    &:hover,
    &:focus {
        background-color: $color-linkvisited;
    }
}

article.row {
    h2 {
        text-align: center;
        font-size: 2.5em;
        margin-bottom: 0;

        a:link,
        a:visited,
        a:hover,
        a:focus,
        a:active {
            color: $color-primary;
            text-decoration: none;
        }

        a:hover,
        a:focus {
            text-decoration: underline;
        }
    }

    p.meta {
        text-transform: uppercase;
        text-align: center;
        font-size: 0.8em;
        color: lighten($color-primary, 30%);
        margin-top: 0;
        margin-bottom: $margin-small;
    }

    ul, ol {
        padding-left: 1em;
    }

    @media screen and (min-width: $break-large) {
        h2, p, ul, ol {
            margin-left: $column-width + $gutter-width;
            margin-right: $column-width + $gutter-width;
        }
    }
}

section#where-to-go {
    div#communities,
    div#developers {
        float: left;

        @media screen and (min-width: $break-small) and (max-width: $break-large) {
            width: ($column-width * 2) + ($gutter-width * 1);
        }

        @media screen and (min-width: $break-large) {
            width: ($column-width * 3) + ($gutter-width * 2);
        }
    }
}

section#blog {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            padding: 0;
            margin: 0;
            line-height: 1.5;
        }

        li:last-child {
            margin-top: 1em;
        }
    }

    div.archive {
        @media screen and (min-width: $break-large) {
            float: left;
            width: ($column-width * 2) + ($gutter-width * 1);
        }
    }

    div.latest {
        @media screen and (min-width: $break-large) {
            float: left;
            width: ($column-width * 4) + ($gutter-width * 3);
        }
    }
}

section#about {
    div#platform {
        @media screen and (min-width: $break-small) and (max-width: $break-large) {
            width: ($column-width * 2) + ($gutter-width * 1);
        }

        @media screen and (min-width: $break-large) {
            width: ($column-width * 4) + ($gutter-width * 3);
        }
    }

    div#devs {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            -moz-column-count: 2;
            -moz-column-gap: $gutter-width;
            -webkit-column-count: 2;
            -webkit-column-gap: $gutter-width;
            column-count: 2;
            column-gap: $gutter-width;

            li {
                padding: 0;
                display: block;
                clear: both;

                &:first-child {
                    h3 {
                        margin-top: 0;
                    }
                }

                img {
                    width: 100px;
                    height: 100px;
                    @include border-radius(50px);
                    float: left;
                    margin-right: $gutter-width / 2;
                }
            }
        }
    }
}

div#run-service,
div#build-app,
div#github-fork,
div#github-issue {
    float: left;

    h2 {
        span {
            display: block;
        }
    }

    @media screen and (min-width: $break-small) and (max-width: $break-large) {
        width: ($column-width * 2) + ($gutter-width * 1);
    }

    @media screen and (min-width: $break-large) {
        width: ($column-width * 3) + ($gutter-width * 2);
    }
}

footer {
    border-top: 1px solid lighten($color-primary, 50%);
    color: lighten($color-primary, 20%);
    font-size: 0.8em;
    text-align: center;
}