$break-small: 768px;
$break-large: 992px;
$break-xlarge: 1200px;

$font-stack: 'Lato', sans-serif;

$gutter-width: 30px;
$margin: 15px;

$color-primary: #22313F;
$dark-blue: #2C3E50;
$color-link: #4B77BE;
$color-linkvisited: darken($color-link, 10%);

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
    url('fonts/Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

@mixin clear-float() {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin transition($property, $time, $function) {
    -moz-transition: $property $time $function;
    -webkit-transition: $property $time $function;
    -o-transition: opacity $property $time $function;
    transition: opacity $property $time $function;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin stripes() {
    &:nth-child(odd) {
        background-color: lighten($color-primary, 75%);
    }
}

@import "syntax";

body {
    font: 18px/1.5 $font-stack;
    background-color: #fff;
    color: $color-primary;
    font-weight: normal;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: subpixel-antialiased;
}

.wrapper{
    position:relative;
    overflow:hidden;
}

div.row > div {
    margin-bottom: 30px;
}
article.row {
    margin-bottom: $gutter-width * 3;
}

section {
    @include clear-float();
    @include stripes();
    padding: ($margin * 3) 0;
}

header {
    color: #fff;
    background-color: $dark-blue;
    padding-bottom: $margin * 4;

    .row > div {
        margin-bottom: 0;
    }

    a.brand {
        color: #fff;
        font-family: Futura, "Trebuchet MS", Arial, sans-serif;
        display: inline-block;
        float: left;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 30px;
        margin-top: 7px;
    }

    nav {
        font-family: $font-stack;
        font-size: 16px;
        line-height: 1;
        padding: $margin 0;
        text-transform: none;
        letter-spacing: 0;
        margin: 0 auto ($margin * 4) auto;
        background-color: rgba(0, 0, 0, 0.5);

        button#burger {
            background: none;
            border: none;
            color: #fff;
            line-height: 30px;
            float: right;

            @media screen and (min-width: $break-small) {
                display: none;
            }
        }

        ul {
            padding: 0;
            list-style: none;
            text-align: right;

            a:link,
            a:visited {
                @include transition(background-color, 0.3s, ease);
                color: #fff;
                text-decoration: none;
                padding: ($margin/2) ($margin);
            }

            a:hover,
            a:focus,
            a:active {
                background-color: rgba(255, 255, 255, 0.1);
            }

            @media screen and (max-width: $break-small) {
                @include transition(right, 0.3s, ease);
                position: absolute;
                top: 51px;
                right: -9999px;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.7);
                z-index: 999;

                &.active {
                    right: 0;
                }

                li {
                    height: 46px;
                }

                a:link {
                    display: block;
                    padding: ($margin) ($margin + 5px);
                }
            }

            @media screen and (min-width: $break-small) {
                li {
                    display: inline-block;
                }

                a {
                    @include border-radius(3px);
                }
            }
        }
    }

    &#header-home #nav-home a,
    &#header-communities #nav-communities a,
    &#header-developers #nav-developers a,
    &#header-help #nav-help a,
    &#header-docs #nav-docs a,
    &#header-blog #nav-blog a {
        @media screen and (max-width: $break-small) {
            &::before {
                color: #ff5c00;
                content: "●";
                margin-right: 5px;
            }
        }

        @media screen and (min-width: $break-small) {
            border-bottom: 3px solid #ff5c00;
            @include border-radius(3px 3px 0 0);
        }
    }

    h1 {
        margin: 0 0 ($margin / 2) 0;
        font-size: 40px;
        font-weight: bold;
        line-height: 1;
    }

    p {
        margin: ($margin / 2) 0 0 0;
        font-size: 25px;
        line-height: 1.3;
        font-weight: normal;
    }

    &.main {
        background: url(../img/map-back.png) no-repeat 50% 100%;
        background-size: cover;

        h1 {
            text-align: center;
        }

        p {
            text-align: center;
        }

        div.hero {
            @media screen and (min-width: $break-small) {
                padding: $margin * 6;
            }

            text-shadow: 0 0 10px #000000;

            .btn {
                border-color: #fff;

                &:link,
                &:visited {
                    color: #fff;
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.2)
                }
            }
        }
    }
}

h2 {
    font-weight: normal;
    font-size: 1.7em;
    line-height: 1.2;

    span, i {
        text-transform: uppercase;
        display: block !important;
        font-size: 12px;
        color: lighten($color-primary, 30%);
        margin-bottom: 5px;
    }
}

h3 {
    margin-bottom: 0.5em;
}

p {
    margin-top: 0;
}

a {
    &:link {
        @include transition(color, 0.3s, ease);
        color: $color-link;
        text-decoration: underline;
    }

    &:visited {
        color: $color-linkvisited;
    }

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }

    &.no-underline {
        text-decoration: none;
    }
}

.btn {
    text-align: center;
    border: 2px solid $dark-blue;
    color: $dark-blue;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 1;
    @include border-radius(5px);

    &:link {
        text-decoration: none;
        color: $dark-blue;
        @include transition(all, 0.3s, ease);
    }

    &:visited {
        color: $dark-blue;
    }

    &:hover,
    &:focus {
        color: #fff;
        background-color: $color-linkvisited;
    }
}

.btn-group .btn {
    border-top-width: 0;
    display: block;
    max-width: 300px;
    text-align: left;

    &:first-child {
        border-top-width: 2px;
        @include border-radius(5px 5px 0 0);
    }

    &:last-child {
        @include border-radius(0 0 5px 5px);
    }

    @media screen and (min-width: $break-small) {
        border-left-width: 0;
        border-top-width: 2px;
        display: inline;

        &:first-child {
            border-left-width: 2px;
            @include border-radius(5px 0 0 5px);
        }

        &:last-child {
            @include border-radius(0 5px 5px 0);
        }
    }
}

img {
    // -webkit-box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.2);
    // -moz-box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.2);
    // box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.2);
    max-width: 100%;
    text-align: center;
    display: block;
    margin: 0 auto;
}

#about img {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-right: 15px;
    display: inline-block;
}

.centered {
    text-align: center;
}

article.row {
    h2 {
        margin-bottom: 0;

        a:link,
        a:visited,
        a:hover,
        a:focus,
        a:active {
            color: $color-primary;
            text-decoration: none;
        }

        a:hover,
        a:focus {
            text-decoration: underline;
        }
    }

    p.meta {
        text-transform: uppercase;
        font-size: 0.8em;
        color: lighten($color-primary, 30%);
        margin-top: $margin;
        margin-bottom: $margin;
    }

    h3 {
        margin-top: $margin * 3;
        margin-bottom: $margin / 2;
        border-bottom: 1px dotted lighten($color-primary, 50%);
    }

    ul, ol {
        padding-left: 0;
    }

    ul {
        li {
            list-style: square;
            margin-bottom: 7px;
        }
    }
}

article.row.tutorial {
    h2 {
        margin-bottom: $margin;
    }

    .tut-step {
        color: $dark-blue;
        font-size: 1.5em;
        display: inline-block;
        text-align: right;
        width: 50px;
        margin-right: 3px;
        margin-left: -55px;
    }
}

section#blog {
    time {
        display: block;
        text-transform: uppercase;
        font-size: 0.8em;
        color: lighten($color-primary, 30%);
        margin-bottom: $margin;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            padding: 0;
            margin: 0;
            line-height: 1.5;
        }

        li:last-child {
            margin-top: 1em;
        }
    }

    div.archive {
        h2 {
            margin-bottom: 0;
        }
    }
}

section#about {
    div#devs {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            @media screen and (min-width: $break-small) {
                -moz-column-count: 2;
                -moz-column-gap: $gutter-width;
                -webkit-column-count: 2;
                -webkit-column-gap: $gutter-width;
                column-count: 2;
                column-gap: $gutter-width;
            }


            li {
                padding: 0;
                display: block;
                clear: both;
                margin-bottom: $margin;
                min-height: 100px;

                &:first-child {
                    h3 {
                        margin-top: 0;
                    }
                }

                img {
                    width: 100px;
                    height: 100px;
                    @include border-radius(50px);
                    float: left;
                    margin-right: $margin;
                }
            }
        }
    }
}

.fa {vertical-align: middle;}

footer {
    background-color: $color-primary;
    color: lighten($color-primary, 70%);
    padding: ($margin * 4) 0;
    font-size: 14px;
    text-transform: uppercase;

    a:link,
    a:visited,
    a:hover,
    a:focus,
    a:active, {
        color: lighten($color-primary, 50%);
        text-decoration: none;
        line-height: 21px;
    }

    a:hover {
        text-decoration: underline;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}

#communities {

}

#developers {
    background-color: #4B77BE !important;
    color: #fff;

    h2 span {
        color: #fff;
    }

    .btn {
        border-color: #fff;

        &:link,
        &:visited {
            color: #fff;
        }
    }
}

#try-it {
    text-align: center;
}

ul.features {
    list-style-type: none;
    margin: 0 0 ($margin * 2) 0;
    padding: 0;
    font-size: 18px;

    li {
        margin-bottom: 15px;
    }
}


ul.tutorial-links {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        margin-bottom: 7px;
        padding-left: 23px;
        text-indent: -23px;

        &:before {
            content: "➜ ";
            color: $dark-blue;
            font-size: 14px;
            padding-right: 5px;
        }

        h6 {
            display: inline;
            font-weight: normal;
            font-size: 18px;
            margin: 0;
        }

        p {
            font-size: 16px;
            text-indent: 0;
            margin-bottom: 0;
        }
    }
}

ul.next-links {
    padding: 0 !important;
    margin-top: 0;

    li {
        list-style: none !important;
        border: 0 solid $dark-blue;
        border-width: 1px 1px 0 1px;
        margin: 0 !important;
        padding: ($margin/2) $margin ($margin/2) ($margin * 2.5);

        &:first-child {
            @include border-radius(5px 5px 0 0);
        }

        &:last-child {
            @include border-radius(0 0 5px 5px);
            border-bottom-width: 1px;
        }

        &:first-child:last-child {
            @include border-radius(5px);
            border-bottom-width: 1px;
        }

        p {
            margin-bottom: 0;
        }
    }
}

table {
    thead {
        border-bottom: 2px solid lighten($color-primary, 50%);
    }
    tr {
        border-bottom: 1px solid lighten($color-primary, 50%);
        @include stripes();
    }

    th, td {
        text-align: left;
        vertical-align: top;
        padding: ($margin / 2) ($margin);
    }
}

pre {
    background-color: lighten($color-primary, 75%);
    padding: $margin;
    @include border-radius(5px);
    font-size: 14px;
}

.language-http .err {
    display: block;
    @include border-radius(5px);
    padding: ($margin / 2) $margin;
}
