$break-small: 768px;
$break-large: 992px;

$font-stack: 'Open Sans', sans-serif;

$gutter-width: 30px;
$margin: 15px;

$color-primary: #444;
$color-link: #006892;
$color-linkvisited: darken($color-link, 10%);

@mixin clear-float() {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin transition($property, $time, $function) {
    -moz-transition: $property $time $function;
    -webkit-transition: $property $time $function;
    -o-transition: opacity $property $time $function;
    transition: opacity $property $time $function;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin stripes() {
    &:nth-child(odd) {
        background-color: lighten($color-primary, 70%);
    }
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

body {
    font: 16px/1.5 $font-stack;
    background-color: #fff;
    color: $color-primary;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

section {
    @include clear-float();
    @include stripes();
    padding: ($margin * 3) 0;
}

header {
    color: #fff;
    background-color: $color-link;
    padding-bottom: $margin * 4;

    nav {
        font-family: $font-stack;
        font-size: 14px;
        line-height: 1;
        padding: ($margin / 2) 0;
        text-transform: none;
        letter-spacing: 0;
        margin: 0 auto;

        ul {
            padding: 0;
            list-style: none;
            text-align: right;

            li {
                display: inline-block;
            }

            a:link,
            a:visited {
                @include transition(background-color, 0.3s, ease);
                color: #fff;
                text-decoration: none;
                padding: ($margin/2) ($margin);
                @include border-radius(3px);
            }

            a:hover,
            a:focus,
            a:active {
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
    }

    &#header-home #nav-home a,
    &#header-communities #nav-communities a,
    &#header-developers #nav-developers a,
    &#header-help #nav-help a,
    &#header-docs #nav-docs a,
    &#header-blog #nav-blog a {
        border-bottom: 3px solid #ff5c00;
        @include border-radius(3px 3px 0 0);
    }

    h1 {
        margin: 0;
        font-size: 40px;
        font-family: Futura, "Trebuchet MS", Arial, sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    p {
        margin: 0;
        font-size: 20px;
        line-height: 1.4;
    }

    &.main {
        background: url(../img/newyork.jpg) no-repeat 50% 100%;
        text-align: center;
        padding-bottom: $margin;

        p {
            font-size: 25px;
            border-bottom: 3px solid #fff;
            text-transform: uppercase;
        }

        div.hero {
            display: inline-block;
            background-color: rgba(0, 0, 0, 0.5);
            padding: $margin * 2;
            margin: 0 auto;
        }

        nav {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }


    @media screen and (min-width: $break-small) {
        &.main {
            padding-bottom: $margin * 4;

            div.hero {
                margin-top: $margin * 4;
            }

            h1 {
                font-size: 50px;
            }

            p {
                font-size: 30px;
            }
        }
    }
}

h2 {
    font-weight: 500;
    font-size: 1.3em;
    line-height: 1.2;

    span {
        text-transform: uppercase;
        display: block !important;
        font-size: 12px;
        color: lighten($color-primary, 30%);
        margin-bottom: 5px;
    }
}

h3 {
    margin-bottom: 0.5em;
}

p {
    margin-top: 0;
}

a {
    &:link {
        @include transition(color, 0.3s, ease);
        color: $color-link;
        text-decoration: underline;
    }

    &:visited {
        color: $color-linkvisited;
    }

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }

    &.no-underline {
        text-decoration: none;
    }
}

.btn {
    text-align: center;
    border: 0;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    background-color: $color-link;
    @include border-radius(5px);

    &:link {
        text-decoration: none;
        color: #fff;
        @include transition(background-color, 0.3s, ease);
    }

    &:visited {
        color: #fff;
    }

    &:hover,
    &:focus {
        background-color: $color-linkvisited;
    }
}

img {
    -webkit-box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.2);
}

.centered {
    text-align: center;
}

article.row {
    h2 {
        font-size: 2.5em;
        margin-bottom: 0;

        a:link,
        a:visited,
        a:hover,
        a:focus,
        a:active {
            color: $color-primary;
            text-decoration: none;
        }

        a:hover,
        a:focus {
            text-decoration: underline;
        }
    }

    p.meta {
        text-transform: uppercase;
        font-size: 0.8em;
        color: lighten($color-primary, 30%);
        margin-top: $margin;
        margin-bottom: $margin;
    }

    h3 {
        margin-top: $margin * 3;
        margin-bottom: $margin / 2;
        border-bottom: 1px dotted lighten($color-primary, 50%);
    }

    ul, ol {
        padding-left: 0;
    }

    ul {
        li {
            list-style: none;
            text-indent: -17px;
            margin-bottom: 7px;
            &:before{
                content: "—";
                position: relative;
                left: -15px;
            }
        }
    }
}

article.row.tutorial {
    h2 {
        margin-bottom: $margin;
    }
}

section#blog {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            padding: 0;
            margin: 0;
            line-height: 1.5;
        }

        li:last-child {
            margin-top: 1em;
        }
    }

    div.archive {
        h2 {
            margin-bottom: 0;
        }
    }
}

section#about {
    div#devs {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            @media screen and (min-width: $break-small) {
                -moz-column-count: 2;
                -moz-column-gap: $gutter-width;
                -webkit-column-count: 2;
                -webkit-column-gap: $gutter-width;
                column-count: 2;
                column-gap: $gutter-width;
            }


            li {
                padding: 0;
                display: block;
                clear: both;
                margin-bottom: $margin;
                min-height: 100px;

                &:first-child {
                    h3 {
                        margin-top: 0;
                    }
                }

                img {
                    width: 100px;
                    height: 100px;
                    @include border-radius(50px);
                    float: left;
                    margin-right: $margin;
                }
            }
        }
    }
}

footer {
    background-color: $color-primary;
    color: lighten($color-primary, 70%);
    padding: ($margin * 4) 0;
    font-size: 14px;
    text-transform: uppercase;

    a:link,
    a:visited,
    a:hover,
    a:focus,
    a:active, {
        color: lighten($color-primary, 50%);
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}

ul.tutorial-links {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        margin-bottom: 7px;
        padding-left: 23px;
        text-indent: -23px;

        &:before {
            content: "➜ ";
            color: $color-link;
            font-size: 14px;
            padding-right: 5px;
        }

        h6 {
            display: inline;
            font-weight: normal;
            font-size: 18px;
            margin: 0;
        }

        p {
            font-size: 16px;
            text-indent: 0;
            margin-bottom: 0;
        }
    }
}

ul.next-links {
    padding: 0 !important;
    margin-top: 0;

    li {
        list-style: none;
        border: 0 solid $color-link;
        border-width: 1px 1px 0 1px;
        margin: 0;
        padding: ($margin/2) $margin ($margin/2) ($margin * 2.5);

        &:first-child {
            @include border-radius(5px 5px 0 0);
        }

        &:last-child {
            @include border-radius(0 0 5px 5px);
            border-bottom-width: 1px;
        }

        &:first-child:last-child {
            @include border-radius(5px);
            border-bottom-width: 1px;
        }

        p {
            margin-bottom: 0;
        }
    }
}

table {
    thead {
        border-bottom: 2px solid lighten($color-primary, 50%);
    }
    tr {
        border-bottom: 1px solid lighten($color-primary, 50%);
        @include stripes();
    }

    th, td {
        text-align: left;
        vertical-align: top;
        padding: ($margin / 2) ($margin);
    }
}

pre {
    background-color: lighten($color-primary, 70%);
    padding: $margin;
    @include border-radius(5px);
    font-size: 14px;
}

.language-http .err {
    display: block;
    @include border-radius(5px);
    padding: ($margin / 2) $margin;
}
