### SublimeText ###
*.sublime-workspace

### Sass ###
*.sass-cache

### Node.js ###
node_modules
lib-cov
npm-debug.log.*
*.seed
*.csv
*.dat
*.out
*.pid
*.gz

### Misc ###
local_settings
bower_components
_site
pids
logs
results
*.log
