---
layout: default
title: "GeoKey – Blog"
---

<header id="header-blog">
    {% include nav.html %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Blog</h1>
                <p>Read about what we've been up to recently</p>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container">
        <article class="row">
            {% for post in site.posts %}
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <h2><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
                <p class="meta">Published on <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="published">{{ post.date | date_to_long_string }}</time></p>

                {{ post.excerpt }}
                <p class="centered"><a href="{{ site.url }}{{ post.url }}" class="no-underline"><span class="octicon octicon-arrow-right"></span> Read more</a></p>
            </div>
            {% endfor %}
        </article>
    </div>
</section>
