---
layout: default
title: "GeoKey – Blog"
---

<header id="header-blog">
    {% include nav.html %}
    <div class="container">
        <div class="row">
            <h1>Blog</h1>
            <p>Read about what we've been up to recently</p>
        </div>
    </div>
</header>

<section>
    <div class="container">

        {% for post in site.posts %}
        <article>
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

            <p class="meta"><i class="fa fa-clock-o"></i> <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="published">{{ post.date | date_to_long_string }}</time> &mdash; <i class="fa fa-user"></i> {% if post.author_link %}<a href="{{ post.author_link }}">{% endif %}{{ post.author}}{% if post.author_link %}</a>{% endif %}</p>

            {{ post.excerpt }}

            <p><a href="{{ post.url }}" class="btn btn-primary"><i class="fa fa-link"></i> Read more</a></p>
        </article>
        {% endfor %}

    </div>
</section>
