section#collect-data,
section#use-data {
    h2, p {
        text-align: center;
    }

    div.apps {
        @extend .container;

        div.app {
            @extend .row;
            padding-top: $padding-xxl-vertical*2;
            padding-bottom: $padding-xxl-vertical*2;
            margin-top: $padding-xxl-vertical*2;
            margin-bottom: $padding-xxl-vertical*2;
            border-bottom: 1px solid $gray-lighter;

            &:last-child {
                margin-bottom: 0;
                border-bottom: 0;
            }

            p {
                text-align: left !important;
            }

            &#community-maps {
                background: url(/img/community-maps.png) no-repeat 0 100%;

                @media screen and (max-width: $screen-sm) {
                    background-position: 320px 0;
                    padding-top: 320px;
                }

                @media screen and (min-width: $screen-sm) and (max-width: $screen-md) {
                    background-size: 57%;
                }

                h3, p {
                    @extend .col-sm-5;
                    @extend .col-sm-offset-7;
                }
            }

            &#sapelli {
                background: url(/img/sapelli.png) no-repeat;

                @media screen and (max-width: $screen-sm) {
                    background-position: 50% 0;
                    padding-top: 400px;
                }

                @media screen and (min-width: $screen-sm) and (max-width: $screen-md) {
                    background-position: 450px 0;
                }

                @media screen and (min-width: $screen-md) {
                    background-position: 570px 0;
                }

                h3, p {
                    @extend .col-sm-7;
                    @extend .col-sm-offset-0;
                }
            }

            &#epicollect {
                background: url(/img/epicollect.png) no-repeat;

                @media screen and (max-width: $screen-sm) {
                    background-position: 320px 0;
                    padding-top: 320px;
                }

                @media screen and (min-width: $screen-sm) and (max-width: $screen-md) {
                    background-size: 57%;
                }

                h3, p {
                    @extend .col-sm-5;
                    @extend .col-sm-offset-7;
                }
            }


            &#your-app {
                h3, p {
                    @extend .col-sm-8;
                    @extend .col-sm-offset-2;
                    text-align: center !important;
                }

                ul {
                    @extend .col-sm-4;
                    @extend .col-sm-offset-4;
                }
            }
        }

        div#export,
        div#import {
            margin-top: $padding-xxl-vertical * 2;
            @extend .col-sm-6;

            p {
                text-align: left;
            }

            ul {
                padding-left: 1em;
            }
        }
    }
}
