<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>GeoKey – {{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/build/css/geokey.css">
        <script src="/build/js/nav.js"></script>
    </head>
    <body>
        <div id="wrapper">
            {{ content }}

            <footer>
                <div class="container">
                    <div class="row">
                        <div>
                            Created in London by <a href="http://www.ucl.ac.uk/excites">Extreme Citizen Science Research Group</a>.
                        </div>
                        <div>
                            <ul>
                                <li><a href="/blog/">Blog</a></li>
                                <li><a href="/help/">Help</a></li>
                                <li><a href="/docs/">API Docs</a></li>
                            </ul>
                        </div>
                        <div>
                            <a href="https://github.com/ExCiteS/geokey"><i class="fa fa-github fa-fw fa-2x"></i></a>
                            <a href="https://twitter.com/geokey_project"><i class="fa fa-twitter fa-fw fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>

    {% include tracker.html %}
</html>
