---
layout: default
---

<header id="header-docs">
    {% include nav.html %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>API docs</h1>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container">
        <article class="row tutorial">
            <div class="col-sm-10">
                <h2>{{ page.title }}</h2>
                {{ content }}
            </div>
        </article>
    </div>
</section>
