---
layout: default
---

<header id="header-docs">
    {% include nav.html %}
    <div class="container">
        <div class="row">
            <div>
                <h1><span>Web API Docs</span> {{ page.title }}</h1>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div id="docs-nav">
                <h2><span>Navigate</span></h2>
                <ul>
                    <!-- <li><a href="#request">Request</a></li>
                    <li><a href="#response">Response</a></li> -->
                </ul>
            </div>
            <div id="docs-cnt">
                {{ content }}
            </div>
        </div>
    </div>
</section>

<script src="/build/js/toc.js"></script>
