---
layout: default
---

<header id="header-docs">
    {% include nav.html %}
    <div class="container">
        <div class="row">
            <div>
                <h1><span>Web API Docs</span> {{ page.title }}</h1>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div id="docs-nav">
                <h2><span>Navigate</span></h2>
                <ul>
                    <li><a href="#request">Request</a></li>
                    <li><a href="#response">Response</a></li>
                </ul>
            </div>
            <div id="docs-cnt">
                {{ content }}
            </div>
        </div>
    </div>
</section>

<script>
    var headerHeight = document.getElementsByTagName('header')[0]. offsetHeight;
    var nav = document.getElementById('docs-nav');
    var cnt = document.getElementById('docs-cnt');

    window.onscroll = function () {
        if (window.scrollY > headerHeight) {
            nav.classList.add('fixed');
            cnt.classList.add('nav-fixed');
        } else {
            nav.classList.remove('fixed');
            cnt.classList.remove('nav-fixed');
        }
    }
</script>
